*{
    margin: 0;
    padding:0;
}

body {
    background-color: #839cb5;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 3vh;  
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 3vh;
  font-size: 1rem;
}

h2{
    text-align: center;
    font-family: cursive;
}

.campo{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: left;
  width: 100vh;
  margin: 1vh;
  padding: 1vh;
  padding-left: 2vh;
  border-bottom-width: thin;
  border-bottom-color: aqua;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  background-color: #839cb5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.option{
  background-color: #839cb5;
  color: white;
}

#data{
  margin-top: 4vh;
}


#opcao{
  text-align:left;
  width: 103vh;
}

.bottom{
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  width: 100vh;
  padding-left: 3vh;
  row-gap: 3vh;
  font-size: auto;
  padding-bottom: 2vh;
}

#s, #n{
  margin-left: 1rem;
}

#termos{
  
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.botao{
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  background-color: #b1e1e9;
  width: auto;
  height: auto;
  justify-content: center;
  border-radius: 15px;
  padding: 1rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


#login, a{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  text-decoration: none;
}

a{
  color: #b1e1e9;
}