*{
    margin: 0;
    padding:0;
}

body {
    background-color: #839cb5;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.content{
  display: flex;

  align-items: center;
}

h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:unset ;
}

align{
    align-self: center;
    gap: 2px;
}